.TodoEditor .editor_wrapper {
    width: 100%;
    display: flex;
    gap: 10px;
}

.editor_wrapper {
    margin-top: 10px;
}

.TodoEditor input {
    flex: 1;
    box-sizing: border-box;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    padding: 15px;
}

select {
    width: 100px;
    height: 25px;
    font-size: 12px;
}

input {
    transition: ease-in border 0.15s;
}

input:hover {
    border: 1px solid #ff1f62;
}

.TodoEditor input:focus {
    outline: none;
    border: 1px solid #ff1f62;
}

.TodoEditor button {
    cursor: pointer;
    width: 80px;
    border: none;
    background-color: #ff1f62;
    color: white;
    border-radius: 5px;
}

.addBtn {
    transition: ease-in background-color 0.1s;
}

.addBtn:hover {
    background-color: #e71a58;
}